#profileSection{
    background: url("../Images/profile.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    order: 1;
    background-attachment: fixed;
}

#portfolieSection{
    background: url("../Images/background.png");
    order: 3;
    position: relative;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nameBox{
    top: 50%;
    left: 50%;     
    transform: translate(-50%, -50%);
    position: absolute;
    
}

