@import "colorVariable";
.musicContainer{
    display: grid;
    grid-template-columns: 10em 40em auto;
    grid-template-rows: 5em 20em;
    padding: 5em;
    margin-bottom: 20em;
    margin-top: 20em;
    h2{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        padding-bottom: 1em;
        align-self: end;
        font-size: 2em;    
    }
    video{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        width:600px;
        max-height:400px;
        background: $movie;
        align-self: center;
    }
    p{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        font-size: 1.4em;
        font-weight: 900;
    }
    background-color: $black;
    color: $white;
    box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
}