#profileSection {
  background: url("../Images/profile.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-attachment: fixed;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20em)[8];
      grid-template-columns: repeat(8, 20em);
  -ms-grid-rows: (10em)[20];
      grid-template-rows: repeat(20, 10em);
}

#profileSection h1, #profileSection h2, #profileSection p {
  color: black;
  font-weight: 100;
}

#portfolieSection {
  background-image: url("../Images/background.png");
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolieName {
  position: absolute;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.portfolieName h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.portfolieName h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.portfolieName p {
  font-size: 1.8em;
}

#nav {
  background-color: #0e0e0e;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
          box-shadow: rgba(0, 0, 0, 0.219) 0px 50px 50px 7px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#nav ul {
  padding: 1em;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#nav a {
  text-decoration: none;
  color: #ebddd1;
  font-size: 2em;
}

#nav a:hover {
  color: rgba(235, 221, 209, 0.116);
}

#aboutProfile {
  background: url("../Images/aboutProfile.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-attachment: fixed;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20em)[8];
      grid-template-columns: repeat(8, 20em);
  -ms-grid-rows: (10em)[20];
      grid-template-rows: repeat(20, 10em);
  color: #f1f1f1;
}

#aboutSection {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  background: url("../Images/background.png");
  width: 100vw;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#aboutSection p {
  font-weight: 900;
}

#aboutSection h3 {
  font-size: 1.7em;
}

#aboutContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (15em)[8];
      grid-template-columns: repeat(8, 15em);
  -ms-grid-rows: (10em)[20];
      grid-template-rows: repeat(20, 10em);
}

#aboutContainer p {
  font-size: 1.3em;
}

#aboutContainer h1 {
  font-size: 2em;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
}

.aboutName {
  position: absolute;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.aboutName h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.aboutName h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.aboutName p {
  font-size: 1.8em;
}

#aboutBox {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
}

.educationBox {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 8;
}

.educationBox2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
  -ms-grid-row: 10;
      grid-row-start: 10;
  grid-row-end: 11;
}

.educationBox3 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 8;
  -ms-grid-row: 14;
      grid-row-start: 14;
  grid-row-end: 15;
}

.educationBox4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 7;
  -ms-grid-row: 18;
      grid-row-start: 18;
  grid-row-end: 19;
}

#contactSection {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  background: url("../Images/background.png");
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10em)[10];
      grid-template-columns: repeat(10, 10em);
  -ms-grid-rows: (10vh)[10];
      grid-template-rows: repeat(10, 10vh);
}

.contactBox {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 4;
}

.contactBox h1 {
  font-size: 2em;
}

.contactInfo {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 6;
}

.contactInfo p {
  font-size: 1.3em;
}

.siteByInfo {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 9;
      grid-row-start: 9;
  grid-row-end: 9;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  visibility: visible;
}

.slideContainer {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: minmax(1em, 1fr) (1em, 1fr)[2];
      grid-template-columns: minmax(1em, 1fr) repeat(2, 1em, 1fr);
}

.from-right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  visibility: hidden;
}

.from-left {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
  visibility: hidden;
}

.from-right, .from-left {
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.from-right.appear, .from-left.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.musicContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10em 40em auto;
      grid-template-columns: 10em 40em auto;
  -ms-grid-rows: 5em 20em;
      grid-template-rows: 5em 20em;
  padding: 5em;
  margin-bottom: 20em;
  margin-top: 20em;
}

.musicContainer h2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  padding-bottom: 1em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 2em;
}

.musicContainer video {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  width: 600px;
  max-height: 400px;
  background: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.musicContainer p {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  font-size: 1.4em;
  font-weight: 900;
}

.span {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.gap {
  width: 1rem;
}

.span.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
  color: #080808;
  letter-spacing: 0.2em;
  line-height: 2.5em;
}

body, html {
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */