@import "portfolio";
@import "nav";
@import "about";
@import "contact";
@import "effects";
@import "musicBox";
@import "slideInText";

*{
    margin: 0;
    padding: 0;
}

#root{
    display: flex;
    flex-direction: column;
}
body{
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
    color: rgb(243, 243, 243);

    letter-spacing: 0.2em;
    line-height: 2.5em;

    h1, h2,h4,p{
        font-weight: 100;

    }
}

body, html{
    height: 100vh;
}